<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">

  <div fxFlex="40">
    <div fxFlex *ngIf="dish">
        <md-card>
        <md-card-header>
          <md-card-title>
              <h3>{{ dish.name | uppercase }}</h3>
          </md-card-title>
       </md-card-header>
       <img md-card-image src={{dish.image}} alt={{dish.name}}>
       <md-card-content>
            <p>{{dish.description}}</p>
        </md-card-content>
        <md-card-actions>
          <button md-button (click)="goBack()">BACK</button>
          <button md-button>LIKE</button>
          <button md-button>SHARE</button>
        </md-card-actions>
        </md-card>
      </div>

  </div>

  <div fxFlex="40">
    <md-list fxFlex *ngIf="dish">
      <md-list-item>
          <h2>Comments</h2>
      </md-list-item>
      <md-list-item *ngFor="let comment of dish.comments">
          <p md-line>{{comment.comment}} </p>
          <p md-line>{{comment.rating}} stars</p>
          <p md-line>-- {{comment.author}} {{comment.date | date}} </p>
      </md-list-item>
    </md-list>
  </div>

</div>